.navBar-wrapper{
  position: fixed;
  width:100%;
  background-color: $blue;
  // background-image: url("http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/jazz/JAZ1617_WebSite_Header_(1900x108).jpg") repeat-x scroll center top rgba(0,0,0,0) ! important;
  min-height: 90px;
  display: flex;
  justify-content: center;
  font-family: $fontStyle1;
  z-index: 100

}
.main-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.logo-wrapper{
  padding: 1vh 0vw 1vh 0vw;
}
.logo{
  height: 80%;
}
.menu-wrapper{
  align-self: flex-end;
  padding-bottom: 1vh;
}
.presented{
  margin-bottom: 30px;
}
.site{
  font-size: 11px;
  color: $yellow;
}
.dlm{
  margin-left: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #f89f1f;
  font-size: 13px;
}
.menu-text{
  display: flex;
  color: white;
  font-size: $fontSize2
}

.menu-li{
  padding: 10px 15px 10px 15px;
  display: none;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}


.social-wrapper{
  display: flex;
  align-self: flex-end;
  padding-bottom: 1vh;
}
.icon{
  display: none;
  height: 30px;
  width: 30px;
  padding: 0px 0px 8px 5px;
}
// ///////////////Menu Dropdown Animations//////////////////////////////////
.dropbtn {
    background-color: $blue;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $yellow;
    // width: 60vw;
    max-height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    font-size: 12px;
    padding: 12px 12px;
    display: block;
}

// .dropdown-content a:hover {background-color: $yellow}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dropdown:hover .dropbtn {
    background-color: $yellow;
}
/////////////////////////Media Quries/////////////////////////////////////
@media (min-width: 768px){
  .main-container{
    width: 750px;
    justify-content: space-between;
  }
  .menu-items, .icon{
    display: block;
}
}

@media (min-width: 992px){
  .main-container{
    width: 970px;
  }
  .gameNight{
    display: block;
  }
}
@media (min-width: 1200px){
  .main-container{
    width: 1120px;
  }
  .community{
    display:block;
  }
  .shop{
    display: block;
    border-radius: 10px;
  }
  .more{
    display: none;
  }
}
