.main-page-wrapper{
font-family: $fontStyle1
}

.main-page-container{
  padding-top: 10vh;
  // position: fixed;
}
.option-wrapper{
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4vh;
  z-index: 12;
  display: flex;
  justify-content: space-around;;
  align-items: center;
}
.lexus-logo{
  height: 4vh;
}
.options{
  color: $yellow;
}

// .parallax-container{
//   color: white;
//  text-align: center;
//   padding-top: 10vh;
//   padding-bottom: 7vh;
// }
// .parallax {
//     background-image: url(../../build/assets/1.png);
//     min-height: 20vh;
//     background-attachment: fixed;
//     background-position:center -10%;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
@media (min-width: 768px){
  .main-page-container {
      padding-top: 14vh;
  }
  .option-wrapper{
    display: flex;
  }
}

@media (min-width: 992px){

}
@media (min-width: 1200px){

}
