<section class="main-page-wrapper">
  <div class="main-page-container">
    <div class="option-wrapper">
      <div class="options">
        <a href="http://www.nba.com/jazz/lexuscocaptain/"><img class="lexus-logo"src="http://car-logos.com/images/lsl/lexus_logo9.gif" alt=""></a>
      </div>
      <div class="options">
        <a href="#">LEXUS CLUB</a>
      </div>
      <div class="options">
        <a href="#">EXECUTIVES CLUB</a>
      </div>
      <div class="options">
        <a href="#">LUXURY SUITES</a>
      </div>
      <div class="options" style="color:black; font-weight: bold;">
      TEL: 801-325-2323
      </div>

    </div>
<!--   /////////////parallax/////////////////
    <div class="parallax">
    <div class="parallax-container">
      <h1>LEXUS CLUB</h1>
      <h2>ENJOY THE GAME IN STYLE</h2>
    </div>
    </div>
      //////////////////////////////////////

  <div style="height:650px;font-size:36px">

  </div>
  <div class="parallax">
  <div class="parallax-container">
    <h1>LEXUS CLUB</h1>
    <p>ENJOY THE GAME IN STYLE</p>
  </div>
  </div> -->

</div>
</section>
