<section class="main-page-wrapper">
  <div class="main-page-container">
    <div class="option-wrapper">
      <div class="options">
        <a href="http://www.nba.com/jazz/lexuscocaptain/"><img class="lexus-logo"src="http://car-logos.com/images/lsl/lexus_logo9.gif" alt=""></a>
      </div>
      <div class="options">
        <a href="#">LEXUS CLUB</a>
      </div>
      <div class="options">
        <a href="#">LUXURY SUITES</a>
      </div>
      <div class="options">
        <a href="#">EXECUTIVES CLUB</a>
      </div>
      <div class="options" style="color:black; font-weight: bold;">
      TEL: 801-325-2323
      </div>
    </div>


    </div>

  <div class="body-wrapper">
  <div class="title-container  ">
    <h1>LEXUS COURTSIDE CLUB</h1>
  </div>
    <div class="content-wrapper">
      <div class="">
        <img class="image-size"src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/jazz/JAZ1617-premium-seating_lexus-gallery1.jpg" alt="">
      </div>
      <div class="text-content">
        <h2>The Lexus Club—one of the most prestigious clubs
            offered—provides the ultimate in luxury and sophistication</h2><br>
        <p> Located in the front four rows at center court
          (behind the scorer’s table), the Lexus Courtside Club enables you to
           enjoy the excitement of Jazz basketball from the comfort of oversized
           leather seats equipped with TV monitors. The club also includes elite
           service and amenities, such as pregame meals and halftime snacks served
           in the privacy of the Lexus Club dining room.</p><br>
      <span class="basic-info"><h2>Call Today For Pricing</h2><p>Tel:801-325-2323</p></span>
      <span class="info-content">
        <h2>Interested in renting a suite for a game?</h2><b  r>
        <p> For more information, please call Chris Barney (Vice President   of
            Premium Seating & VIP Services) at 801.325.2323.</p><b  r>
      </span>
      </div>

    </div>

    <div class="title-container">
      <h1>LUXURY SUITES</h1>
    </div>
    <div class="content-wrapper">
      <div class="text-content right">
        <h2>Welcome to the very best sports and entertainment Utah has to
          offer—luxury suites at Vivint Smart Home Arena.</h2><br>
        <p> As the home of the Utah Jazz and the country’s most popular touring
            musical acts and family shows, Vivint Smart Home Arena is the place
            to meet, greet, see and be seen in Utah.</p><br>
        <h2>Why a Luxury Suite ?</h2><br>
      <p> Your suite can enhance your corporate profile and give you an advantage
            over your competitors. It offers the chance to communicate your message
            in a luxurious setting while making entertaining as easy as it is elegant.</p><br>
        <span class="basic-info"><h2>Call Today For Pricing</h2><p>Tel:801-325-2323</p></span>
      <span class="info-content">
        <h2>Interested in renting a suite for a game?</h2><br>
          <p> For more information, please call Chris Barney (Vice President of
            Premium Seating & VIP Services) at 801.325.2323.</p><br>
        </span>
      </div>
    <div class="">
      <img class="image-size"src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/jazz/JAZ1617-premium-seating_suite-gallery1.jpg" alt="">
    </div>
    <div class="text-content vert">
      <h2>Welcome to the very best sports and entertainment Utah has to
        offer—luxury suites at Vivint Smart Home Arena.</h2><br>
      <p> As the home of the Utah Jazz and the country’s most popular touring
          musical acts and family shows, Vivint Smart Home Arena is the place
          to meet, greet, see and be seen in Utah.</p><br>
      <h2>Why a Luxury Suite ?</h2><br>
    <p> Your suite can enhance your corporate profile and give you an advantage
          over your competitors. It offers the chance to communicate your message
          in a luxurious setting while making entertaining as easy as it is elegant.</p><br>
      <span class="basic-info"><h2>Call Today For Pricing</h2><p>Tel:801-325-2323</p></span>
    <span class="info-content">
      <h2>Interested in renting a suite for a game?</h2><br>
        <p> For more information, please call Chris Barney (Vice President of
          Premium Seating & VIP Services) at 801.325.2323.</p><br>
      </span>
    </div>

    </div>

    <div class="title-container">
      <h1>EXECUTIVES CLUB</h1>
    </div>
    <div class="content-wrapper">
    <div class="">
      <img class="image-size"src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/jazz/JAZ1617-premium-seating_executive-gallery1.jpg" alt="">
    </div>
    <div class="text-content">
      <h2>Vivint Smart Home Arena is the place to be for Utah’s top sports and
        entertainment events.</h2><br>
      <p> <ul class="ul-list">
            <li>Full-service, in-suite VIP dinner at all Utah Jazz games (soft drinks are included, alcoholic beverages are available for purchase)</li>
            <li>Reserved club parking</li>
            <li>Plenty of room to network, socialize and "close the deal"</li>
            <li>The first right to purchase your Executives Club seats or other premium tickets for all other Vivint Smart Home Arena events</li>
            <li>Large flat screen TVs located throughout the club</li>
            <li>Incredible suite-level view for Jazz games</li>
          </ul></p><br>

      <span class="basic-info"><h2>Call Today For Pricing</h2><p>Tel:801-325-2323</p></span>
    <span class="info-content">
      <h2>Interested in renting a suite for a game?</h2><br>
        <p> For more information, please call Chris Barney (Vice President of
          Premium Seating & VIP Services) at 801.325.2323.</p><br>
      </span>
    </div>

    </div>
  </div>
</section>
<footer class=""></footer>
