<section class="navBar-wrapper">

  <div class="main-container">

    <div class="logo-wrapper">
      <img class="logo"src="http://i.cdn.turner.com/drp/nba/jazz/sites/default/files/styles/logo/public/jaz1516_website_header_logo.png?itok=YNt60lGj" alt="">
    </div>

    <div class="menu-wrapper ">
      <div class="presented">
        <span class="site">
        SITE PRESENTED BY
      </span>
      <br>
        <a class="dlm" href="http://www.dorianmorgan.com/">DORIAN MORGAN</a>

      </div>
      <div class="menu-text">

        <div class="dropdown">
          <div class="dropbtn menu-li  menu-items"><a href='http://www.nba.com/jazz/tickets'>Tickets</a></div>
          <div class="dropdown-content" style="width: 45vw;">
            <a href="http://www.nba.com/jazz/tickets">Ticket Central</a>
            <a href="http://www.nba.com/jazz/tickets/single-game">Single-Game Tickets</a>
            <a href="http://www.44united.com/">Season Tickets</a>
            <a href="http://www.nba.com/jazz/slamdunk">Slam Dunk Ticket Deal</a>
            <a href="http://www.nba.com/jazz/tickets/groups">Groups</a>
            <a href="http://www.nba.com/jazz/tickets/plans">Ticket Plans</a>
            <a href="http://www.nba.com/jazz/tickets/seating-map">Seating Map</a>
            <a href="http://www.nba.com/jazz/familynight">Family Night</a>
            <a href="http://www.nba.com/jazz/govx">Military & <br>1st Responders</a>
            <a href="https://www.ticketingcentral.com/portal/login.aspx?cust=smithstix&skinTheme=jazz&_ga=1.12792373.303131965.1485993127">Account Manager</a>
            <a href="http://jazz.flashseats.com/">Flash Seating</a>
          </div>
        </div>

        <div class="dropdown">
          <div class="menu-li dropbtn menu-items"><a href='http://www.nba.com/jazz/schedule'>Schedule</a></div>
          <div class="dropdown-content" style="width: 15vw;">
            <a href="http://www.nba.com/jazz/schedule">Schedule</a>
            <a href="http://www.nba.com/jazz/schedule/download">Downloadable Calendar</a>
            <a href="http://www.nba.com/jazz/broadcast">Broadcast Info</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn menu-items"><a href='http://www.nba.com/jazz/roster/grid'>Team</a></div>
          <div class="dropdown-content" style="width: 30vw;">
            <a href="http://www.nba.com/jazz/roster">Roster</a>
            <a href="http://www.nba.com/jazz/stats/leaders">Leaders</a>
            <a href="http://www.nba.com/jazz/stats/team">Team Stats</a>
            <a href="http://www.nba.com/jazz/stats">Player Stats</a>
            <a href="http://www.nba.com/jazz/injuryreport">Injury Report</a>
            <a href="http://www.nba.com/jazz/standings">Standings</a>
            <a href="http://www.nba.com/jazz/connect">Social Media</a>
            <a href="https://recruiting.adp.com/srccar/public/RTI.home?d=MSP&c=1081441">Career Opportunities</a>
            <a href="http://www.nba.com/jazz/contact">Contact Us</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn menu-items"><a href='http://www.nba.com/jazz/connect'>Fans</a></div>
          <div class="dropdown-content" style="width: 30vw;">
            <a href="http://www.nba.com/jazz/contests">Contests</a>
            <a href="http://www.nba.com/jazz/connect">Social Media Connect</a>
            <a href="http://www.weareutahjazz.com/lockedonjazz?_ga=1.109760775.303131965.1485993127">Locked on Jazz</a>
            <a href="http://www.nba.com/jazz/app">Utah Jazz Mobile App</a>
            <a href="http://www.nba.com/jazz/email">Insider Email</a>
            <a href="http://www.nba.com/jazz/news">Latest News</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn menu-items"><a href='http://www.nba.com/jazz/video/'>Video</a></div>
          <div class="dropdown-content" style="right:0; width: 50vw; ">
            <a href="http://www.nba.com/jazz/video/archive">Video Archive</a>
            <a href="http://www.nba.com/jazz/video/playlist/jazz-media-day-2016">Jazz Media Day 2016</a>
            <a href="http://www.nba.com/jazz/video/channel/team_originals">Team Originals</a>
            <a href="http://www.nba.com/jazz/video/channel/team_highlights">Highlights</a>
            <a href="http://www.nba.com/jazz/video/channel/social_media_minute">Social Media Minute</a>
            <a href="http://www.nba.com/jazz/video/channel/threes_of_the_week">Threes of the Week</a>
            <a href="http://www.nba.com/jazz/video/channel/throwback_thursdays">Throwback Thursdays</a>
            <a href="http://www.nba.com/jazz/video/channel/key_matchup">Key Matchup</a>
            <a href="http://www.nba.com/jazz/video/channel/instant_rewind">Instant Rewind</a>
            <a href="http://www.nba.com/jazz/video/channel/practice">Practice Interviews</a>
            <a href="http://www.nba.com/jazz/video/channel/shootaround">Shootaround Interviews</a>
            <a href="http://www.nba.com/jazz/video/channel/postgame">PostGame Interviews</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn gameNight"><a href='http://www.nba.com/jazz/gamenight'>Game Night</a></div>
          <div class="dropdown-content" style="right:0; width:40vw;">
            <a href="http://www.nba.com/jazz/dancers">America First Jazz Dancers</a>
            <a href="http://weareutahjazz.com/bear/?_ga=1.104404098.303131965.1485993127">Utah Jazz Bear</a>
            <a href="http://www.nba.com/jazz/stuntteam/">Utha Jazz Stunt Team</a>
            <a href="http://www.nba.com/jazz/giveaways">Givaway Calender</a>
            <a href="http://www.nba.com/jazz/dunkteam">Utah Jazz Dunk Team</a>
            <a href="http://www.nba.com/jazz/drumline">Utah Jazz Drumline</a>
            <a href="http://www.nba.com/jazz/gamenight/interactive-team">Interactive Team</a>
            <a href="http://www.nba.com/jazz/parking">Parking</a>
            <a href="http://www.nba.com/jazz/news/lhm-sports-entertainment-introduces-vivint-smart-home-arena-utah-jazz">Vivint Smart Arena</a>
            <a href="http://www.nba.com/jazz/birthdayannouncement">Birthday Announcments</a>
            <a href="http://www.nba.com/jazz/faq">Utah Jazz FAQ</a>
            <a href="http://www.1280thezone.com/category/utahjazz/">Audio Archives: 1280 The Zone</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn community"><a href='http://www.nba.com/jazz/community'>Community</a></div>
          <div class="dropdown-content" style="right:0; width: 30vw;">
            <a href="http://www.nba.com/jazz/community">Community News</a>
            <a href="http://www.nba.com/jazz/community/jr-jazz.html">Junior Jazz</a>
            <a href="http://www.nba.com/jazz/jazzfit">Jazz Fit</a>
            <a href="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/jazz/Jazz-Donation-Request-Form.pdf">Donation Request Form</a>
            <a href="http://www.nba.com/jazz/playerticketdonations">Player Ticket Donations</a>
            <a href="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/jazz/LHM16_DoingGoodBooklet_V12.pdf">Doing Good</a>
            <a href="http://www.nba.com/jazz/passitalong">Pass It Along</a>
            <a href="http://www.nba.com/jazz/stem">STEM Excellence</a>
            <a href="http://www.nba.com/jazz/wheelinjazz">Wheelin' Jazz</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn shop"><a href='https://www.utahjazzstore.com/'>Shop</div>
        </div>
        <div class="dropdown">
          <div class="menu-li dropbtn menu-items more">More</div>
          <div class="dropdown-content" style="right:0; width: 10vw;">
            <a href="http://www.nba.com/jazz/gamenight">Game Night</a>
            <a href="http://www.nba.com/jazz/community">Community</a>
            <a href="https://www.utahjazzstore.com/">Shop</a>
          </div>
        </div>
      </div>

    </div>

    <div class="social-wrapper">
      <a href="https://www.facebook.com/utahjazz"><img class="icon"src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png" alt=""></a>
      <a href="https://twitter.com/utahjazz"><img class="icon"src="http://www.chestersu.com/wp-content/uploads/2013/06/Twitter-icon.png-300x300.png" alt=""></a>
      <a href="https://www.instagram.com/utahjazz/"><img class="icon"src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" alt=""></a>
      <a href="http://www.nba.com/jazz/content/search/?query="><img class="icon"src="http://www.clker.com/cliparts/n/U/H/1/H/u/search-icon-white-one-md.png" alt=""></a>
    </div>
    <div class='menu-btn-box'>
      <button ng-click="toggleMenu()" class="menu-btn">
        <div class="" id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>



  </div>
</section>

<div class="grey menu fade" ng-show="menuShowing" >

    <ul class="menu-items-list" >
    <a class="menu-list"href='http://www.nba.com/jazz/tickets' ng-click="toggleMenu()"><li>Tickets</li></a></br>
    <a class="menu-list"href='http://www.nba.com/jazz/schedule' ng-click="toggleMenu()"><li>Schedule</li></a></br>
    <a class="menu-list"href='http://www.nba.com/jazz/roster/grid' ng-click="toggleMenu()"><li>Team</li></a></br>
    <a class="menu-list"href='http://www.nba.com/jazz/connect' ng-click="toggleMenu()"><li>Fans</li></a></br>
    <a class="menu-list"href='http://www.nba.com/jazz/video/' ng-click="toggleMenu()"><li>Video</li></a></br>
    <a class="menu-list"href='http://www.nba.com/jazz/gamenight' ng-click="toggleMenu()"><li>Game Night</li></a></br>
    <a class="menu-list"href='http://www.nba.com/jazz/community' ng-click="toggleMenu()"><li>Community</li></a></br>
    <a class="menu-list"href='https://www.utahjazzstore.com/' ng-click="toggleMenu()"><li>Shop</li></a></br>

  </ul>


</div>
